.navbar div {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

a:first-of-type {
  margin-left: 0 !important;
}

a:last-of-type {
  margin-right: 0 !important;
}

.nav-item {
  margin-top: 16px !important;
  margin-left: 20px;
}

.navbar-brand img {
  height: 60px;
  margin-left: 20px;
  margin-right: 20px;
}

.d-block {
  height: 100vh;
}

.carousel .carousel-indicators li {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.productCarousel {
  margin-top: 20px;
  text-align: center;
  font-size: 60px;
}

table {
  position: relative;
  margin-left: 430px;
  margin-bottom: 60px;
}

td {
  border: 1px solid #000;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
}

/*.column {
  float: right;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}*/

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-item1 {
  margin-top: 120px;
  margin-left: 50px;
}

.grid-item-one {
  margin-top: 50px;
}

.grid-item-two {
  margin-top: 140px;
  margin-right: 50px;
}

.titleForInfos {
  font-size: 30px;
  text-align: center;
}

.tinyDetails {
  font-size: 15px;px;
  text-align: center;
}

#firstImage {
  height: 400px;
  margin-right: 60px;
  float: right;
}

#secondImage {
  height: 400px;
  margin-left: 50px;
  float: left;
}
.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: black;
}

.footer {
  margin-top: 50px;
}

.socialMedia {
  text-align: center;
}

.socialMedia img {
  margin-left: 15px;
  height: 30px;
}

.footerLogo {
  margin-left: 50px;
  margin-top: 20px;
}

.footerFlex {
    display: flex;
    margin-top: 30px;
}

.box-1 {
width: 30%;

}

.box-2 {

  width: 20%;
}

.box-3 {
  flex: 1;
    width: 20%;
}

.box-4 {
  flex: 1;
    width: 20%;
}
.footerFlex

.aboutInfos,
.shopInfos,
.contactsInfo, span {
  display: block;
}

.newsletter {
  margin-top: 20px;
  margin-left: 455px;
  margin-bottom: 50px;

}

input[type="text"] {
  width: 300px;
  border: none;
  border-bottom: 1px solid #000;
}

/*.footerInfo {
  display: inline-block;
  margin-left: 100px;
}

.about,
.shopOnline,
.contacts {
  display: inline-block;
  margin-left: 50px;
}



.aboutInfos,
.shopInfos,
.contactsInfo, span {
  display: block;
} */

@media screen and(max-width:600px) {
   .nav{
     display:none;
   }
}