/* Start of Nav Bar Styles */
.navbar-brand img {
  height: 60px;
  margin-left: 20px;
  margin-right: 20px;
}

ul li a {
  font-family: "Corbel";
  font-size: 18px;
}
/* End of Nav Bar Styles */

/* Landing Page Carousel */
.carousel-caption h2{
  margin-top: -90px !important;
}

.carouselStyle li {
  cursor: pointer;
  margin-bottom: -15px;
}

.carouselStyle li:nth-child(1) {
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.carouselStyle li:nth-child(2) {
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.carouselStyle li:nth-child(3) {
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.caption {
  margin-top: 20px;
  text-align: center;
  font-size: 70px;
}
/* Landing Page Carousel */

/* Tiny Details Section */
.titleForInfos {
  margin-top: 70px;
  font-size: 30px;
  text-align: center;
}

.tinyDetails {
  font-size: 15px;
  text-align: center;
}

.col button {
  cursor: pointer;
}

#firstImage {
  height: 400px;
  margin-right: 60px;
  float: right;
}
/* Tiny Details Section */

/* About Page History */
.history {
  height: 580px;
  width: 100%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered p {
  color: #fff;
  font-size: 80px;
}

.history-bg {
  background-color: #e8e7e3;
  background-attachment: fixed;
  height: 500px;
  width: 100%;
}

.lead {
  margin-left: 170px;
  width: 800px;
  word-wrap: break-word;
}
/* About Page History */

/* The team styles */
.text-center {
  margin-top: 20px;
}

.meetTeam {
  font-size: 50px;
  font-weight: bold;
}

.profilePhoto {
  height: 200px;
}

.rowPosition {
  margin-top: 180px;
  margin-left: 140px !important;
}
/* The team styles */

/* Location Styles */
.rowCenter {
  margin-left: 60px !important;
}

.locationPage {
  margin-top: 250px;
  margin-bottom: 50px !important;
  margin-left: 209fpx !important;
}

.card-text {
  font-size: 14px;
}
/* Location Styles */

/* Footer Styles */
.footer {
  background-color: #D3D3D3;
  margin-top: 50px;
  height: 315px;
}

.socialMedia {
  text-align: center;
}

.socialMedia img {
  margin-top: 20px;
  margin-left: 15px;
  height: 30px;
}

.footerLogo {
  margin-left: 50px;
  margin-top: 20px;
}

.footerFlex {
  display: flex;
  margin-top: 30px;
}

.box-1 {
  width: 30%;
}

.box-2 {
  width: 20%;
}

.box-3 {
  flex: 1;
  width: 20%;
}

.box-4 {
  flex: 1;
  width: 20%;
}

.aboutInfos,
.shopInfos,
.contactsInfo, span {
  display: block;
}

.newsletter {
  margin-top: 20px;
  margin-left: 455px;
}

input[type="text"] {
  width: 300px;
  border: none;
  border-bottom: 1px solid #000;
  background: none;
}
/* Footer Styles */

.about,
.shopOnline,
.contacts {
  display: inline-block;
  margin-left: 50px;
}

.aboutInfos,
.shopInfos,
.contactsInfo, span {
  display: block;
}

*/ @media screen and(max-width:600px) {
  .nav {
    display: none;
  }
}

.body {
  border: 1px solid black;
}

.prod_specs {
  position: sticky;
}
